#calendar {
	font-size: 10px;
}

.row--calendar div {
	min-height: 200px;
	width: 14.2857142857%;
	border: 1px solid black;
}

/*.row--calendar .dated {
	min-height: 200px;
}
*/
.col--days {
	min-height: 30px !important;
}
.overlap {
	color: red;
}