{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">s
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}

  <form method="POST">
    {{ create_calendar_form.hidden_tag() }}

    {{create_calendar_form.url.label}} {{ create_calendar_form.url() }}
    {% for error in create_calendar_form.url.errors %}
      {{ error }}
    {% endfor %}<br>

    {{ create_calendar_form.submit() }}
  </form>

  </div>

{%- endblock %}